<!doctype html>
<html lang="en">

<head th:replace="/fragments/head"></head>

<body>

    <nav th:replace="/fragments/nav :: nav-front"></nav>

    <div class="container2" style="padding: 50px 70px 50px 70px;">
        <div class="row">
            <div class="col align-self-center">
                <h3 class="display-4">S'inscrire</h3>

                <form method="post" th:object="${user}" th:action="@{/register}" >

                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        Des erreurs sont détectées !
                    </div>

                    <div th:if="${passwordMatchProblem}" class="alert alert-danger">
                        Des erreurs sont détectées !
                    </div>
                
                    <div class="form-group">
                        <label for="">Nom d'utilisateur:</label>
                        <p><em>*Nom collaborateur doit comporter au moins 2 caractères!</em></p>
                        <input type="text" class="form-control" th:field="*{username}">
                        <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    </div>

                    <div class="form-group">
                        <label for="">Mot de passe:</label>
                        <p><em>*Le mot de passe doit comporter au moins 4 caractères!</em></p>
                        <input type="password" class="form-control" th:field="*{password}">
                        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>

                    <div class="form-group">
                        <label for="">Confirmez le mot de passe:</label>
                        <input type="password" class="form-control" th:field="*{confirmPassword}">
                        <span class="error" th:if="${passwordMatchProblem}">Les mots de passe entrés sont différents !</span>
                    </div>
        
                    <div class="form-group">
                        <label for="">E-mail:</label>
                        <p><em>*Entrer un email avec le bon format!</em></p>
                        <input type="text" class="form-control" th:field="*{email}">
                        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>

                    <div class="form-group">
                        <label for="">Numéro de téléphone:</label>
                        <p><em>*Le numéro de téléphone doit comporter au moins 6 caractères!</em></p>
                        <input type="text" class="form-control" th:field="*{phoneNumber}">
                        <span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                    </div>
                    <br>
                    <button class="btn btn-danger mb-5">S'inscrire</button>
        
                </form>

            </div>
        </div>
    </div>

</body>

</html>